.page {
  font-family: 'Inter', 'arial', sans-serif;
  width: 100%;
  color: #fff;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  /* сглаживание */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Подгонка размера текста */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  /* Рендеринг */
  text-rendering: optimizeLegibility;
}
