.places {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 984px;
}

@media screen and (max-width: 1280px) {
  .places {
    margin: 0 148px;
  }
}

@media screen and (max-width: 1024px) {
  .places {
    margin: 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    margin: 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    margin: 0;
  }
}
