.header__lang {
  list-style-type: none;
  display: flex;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

@media screen and (max-width: 320px) {
  .header__lang {
    margin-bottom: 10px;
  }
}

