.footer__link {
  text-decoration: none;
  color: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  transition: opacity 0.7s linear;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 510px) {
  .footer__link{
    font-size: 24px;
    line-height: 24px;
  }
}
