.lead__title {
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  margin: 0 0 32px;
  max-width: 720px;
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .lead__title {
    max-width: 315px;
    font-size: 42px;
    line-height: 46px;
    padding: 0 16px;
    margin: 0 0 16px;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
    margin: 0 0 16px;
  }
}
