.place__paragraph {
  margin: 0 0 26px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    margin: 0 0 27px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    margin: 0 0 25px;
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    margin: 0 0 25px;
    font-size: 16px;
  }
}
